<!DOCTYPE html>
<html>
  <head>
    {% if title %}
      <title>{{ title }} · Dirt</title>
    {% else %}
      <title>Dirt · Language Detection Service</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/dirt.css">
    {% for stylesheet in css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
    {% endfor %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Dirt</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{ demo }}">
              <a href="/demo">
                <i class="fa fa-magic"></i> Demo
              </a>
            </li>

            <li class="{{ stats }}">
              <a href="/stats">
                <i class="fa fa-bar-chart-o"></i> Statistics
              </a>
            </li>

            <li class="dropdown-split-left {{ doc }}">
              <a href="/api/doc">
                <i class="fa fa-book"></i> API Documentation
              </a>
            </li>

            <li class="dropdown dropdown-split-right hidden-xs {{ doc }}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="/api/doc">API Documentation</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Methods</li>
                <li><a href="/api/doc#meta">Meta</a></li>
                <li><a href="/api/doc#classification">Classification</a></li>
                <li><a href="/api/doc#statistics">Statistics</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/programble/dirt">
              <i class="fa fa-github"></i> GitHub
            </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ yield }}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    {% for script in js %}
      <script src="/js/{{ script }}.js"></script>
    {% endfor %}
  </body>
</html>
