<!DOCTYPE html>
<html>
  <head>
    {% if title %}
      <title>{{ title }} · Dirt</title>
    {% else %}
      <title>Dirt · Language Detection Service</title>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    {% for stylesheet in css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
    {% endfor %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Dirt</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{ demo }}">
              <a href="/demo">
                <i class="icon-magic"></i> Demo
              </a>
            </li>

            <li class="{{ stats }}">
              <a href="/stats">
                <i class="icon-bar-chart"></i> Statistics
              </a>
            </li>

            <li class="{{ doc }}">
              <a href="/api/doc">
                <i class="icon-book"></i> API Documentation
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/programble/dirt">
              <i class="icon-github"></i> GitHub
            </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ yield }}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% for script in js %}
      <script src="/js/{{ script }}.js"></script>
    {% endfor %}
  </body>
</html>
